<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %> | Library
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/borrowed">Borrowed</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/admin/books">Admin</a>
    </nav>

    <main>
        <%- body %>
    </main>
</body>

</html>